table{
    width: 100%;
    background-color: silver;

}
.table, th, td{
    border:  0.12rem solid black;
}
.table, th{
    background-color: orange;
}

.action-icon a {
    margin-right: 0.625rem;
    
}

#footer{
    margin-top: 321px;
}